/* Creando un landing Page desafio 2 */

p { /* Estilos del parrafo */
    font-weight: bold;
}


h1 { /* Estilos de los titulares h1 */
    margin-top: 10px;
    margin-bottom: 10 px;
    margin-left: 10 px;
    margin-right: 10 px;
    font-weight: bolder;
}


body { /* Estilos del cuerpo */
    background: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: saddlebrown;
    margin: 0px;
}


.header { /* Estilos del header */
    height: 7em;
    padding: 7em;
    background-image: url("./assets/imgs/cupcake.jpg");
    background-size: cover;
    background-position: center;
    font-size: 1.2em;
    font-weight: bolder;
}


.footer { /* Estilos del footer */
    background-color: rgb(102, 207, 211);
    height: 7em;
    line-height: 7em;
    font-weight: bolder;
    text-align: center;
    color: white;
}


.productos { /* Estilos de los productos */
    padding: 40px 80px 40px 80px;
    margin-left: 0;
}


.imagenes-productos { /* Estilos de las imagenes de los productos */
    text-align: center;
    padding-right: 4em;
    padding-top: 1em;
}


.subtitulos { /* Estilos de los subtitulos */
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
} 


